.crud__form {
  width: 100%;
}

.crud__form-container {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.crud__form-img {
  flex: 1;
}

.crud__form-img img {
  width: 90%;
}

.crud__form-form {
  flex: 1;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    140deg,
    rgba(255, 255, 255, 1) 49%,
    rgba(255, 0, 122, 1) 92%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
}

.crud__form-form h3 {
  text-align: center;
  color: var(--second-color);
  font-size: 2rem;
  margin: 1rem;
}

.crud__form-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.crud__form-item input {
  padding: 0.5rem;
  margin: 1rem;
  width: 50%;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  color: var(--second-color);
  font-weight: 600;
  border: thin solid rgb(177, 177, 177);
}

.crud__form-item input::placeholder {
  color: var(--second-color);
}
.crud__form-input_container {
  display: flex;
}

.crud__form-input_buttons input {
  width: 100px;
  transition: color 0.5s ease, background-color 0.5s ease;
  background-color: var(--second-color);
  color: #fff;
  border: none;
}

.crud__form-input_buttons input:hover {
  color: var(--second-color);
  background-color: #fff;
}

@media screen and (max-width: 950px) {
  .crud__form-container {
    flex-direction: column;
  }
  .crud__form-img img {
    width: 80%;
    margin: 0 auto;
  }

  .crud__form-form {
    margin-bottom: 2rem;
  }
}
